1

In [3]:
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

2

In [4]:
class Gizmo:
    def __init__(self):
        print('Gizmo id: %d' % id(self))

x = Gizmo()
y = Gizmo() * 10

Gizmo id: 1550676284624
Gizmo id: 1550676604368

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'open',
 'quit',
 'x']

3

In [6]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [7]:
id(charles), id(lewis)

(1550682168064, 1550682168064)

In [8]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

4

In [9]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [10]:
alex is charles

False

5

In [43]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2, t1 is t2

(True, False)

In [13]:
id(t1[-1])

1550682396224

In [14]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 1550682396224)

In [15]:
t1 == t2

False

6

In [ ]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)

l1.append(100)

l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l2[1] += [33, 22]

l2[2] += (10, 11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

7

In [17]:
class Bus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

8

In [18]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(1550682460944, 1550682391952, 1550676426064)

In [19]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [20]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(1550682459264, 1550682459264, 1550682466816)

9

In [21]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [22]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

10

In [23]:
def f(a, b):
    a += b
    return a

x = 1
y = 2
f(x, y), (x, y)

(3, (1, 2))

In [24]:
a = [1, 2]
b = [3, 4]
f(a, b), (a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [25]:
t = (10, 20)
u = (30, 40)
f(t, u), (t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

11

In [26]:
class HauntedBus:
    def __init__(self, passengers=[]):
        self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

12

In [27]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [28]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [29]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [30]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [31]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [32]:
bus2.passengers is bus3.passengers

True

In [33]:
bus1.passengers

['Bill', 'Charlie']

In [34]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [35]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

13

In [36]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

14

In [37]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

15

In [38]:
class TwilightBus:
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)

    def pick(self, name):
        self.passengers.append(name)

    def drop(self, name):
        self.passengers.remove(name)

16

In [39]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

17

In [40]:
import weakref
s1 = {1, 2, 3}
s2 = s1

def bye():
    print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [41]:
del s1
ender.alive

True

In [42]:
s2 = 'spam'
ender.alive

Gone with the wind...

False