예제1

In [1]:
symbols = "$*&!@"
codes = []

for symbol in symbols:
    codes.append(ord(symbol))

print(codes)

[36, 42, 38, 33, 64]

예제2

In [2]:
symbols = "$*&!@"

codes = [ord(symbol) for symbol in symbols]

print(codes)

[36, 42, 38, 33, 64]

예제3

In [3]:
x = '"!~$$*&!@'
dummy = [ord(x) for x in x]

print(x)
print(dummy)

"!~$$*&!@
[34, 33, 126, 36, 36, 42, 38, 33, 64]

예제4

In [5]:
symbols = '"!~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]

print(beyond_ascii)

[34, 33, 126, 36, 36, 42, 38, 33, 64]

예제5

In [4]:
symbols = '"!~$$*&!@'
beyond_ascii = list(filter(lambda c: c > 64, map(ord, symbols)))

print(beyond_ascii, '\n')

print(f"Map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[126]

Map function:
>>> <map object at 0x0000017FB8A7F250>
List after map:
>>> [34, 33, 126, 36, 36, 42, 38, 33, 64]

예제6

In [6]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

print(tshirts)

for color in colors:
    for size in sizes:
        print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

예제7

In [7]:
symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s))

print(ord_s)

(33, 35, 94, 38, 38, 35)

예제7-2

In [8]:
import array

ord_s = array.array('I', (ord(symbol) for symbol in symbols))

print(ord_s)

array('I', [33, 35, 94, 38, 38, 35])

예제8

In [9]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']

for tshirts in ('{} {}'.format(c,s) for s in sizes for c in colors):
    print(tshirts)

black S
white S
black M
white M
black L
white L

예제9

In [10]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), 
                ('BRA', 'CE342567'), 
                ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)
    print('{}/{}'.format(passport[0], passport[1]))
    print(f'{passport[0]}/{passport[1]}')

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

예제10

In [11]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

예제11

In [12]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates
print(latitude)
print(longitude)

33.9425
-118.408056

예제12

In [13]:
a=10; b=20
b,a=a,b
print(a,b)

20 10

예제13

In [22]:
divmod(20, 8)

(2, 4)

In [24]:
t = (20, 8)
divmod(*t)

(2, 4)

In [25]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

예제14

In [15]:
import os
_, filename = os.path.split('/home/luciano/.ssh/id_rsa.pub')
filename

'id_rsa.pub'

예제15

In [26]:
a, b, *rest = range(5)
a,b,rest

(0, 1, [2, 3, 4])

In [28]:
a, b, *rest = range(3)
a,b,rest

(0, 1, [2])

In [29]:
a, b, *rest = range(2)
a,b,rest

(0, 1, [])

예제16

In [30]:
a, *body, c, d = range(5)
a,body,c,d

(0, [1, 2], 3, 4)

In [31]:
*head, b, c, d = range(5)
head,b,c,d

([0, 1], 2, 3, 4)

예제17

In [18]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35, 139)),
    ('Delhi NCR', 'IN', 21.935, (28, 77)),
    ('Mexico City', 'MX', 20.142, (19, -99)),
    ('New York-Newark', 'US', 20.104, (40, -74)),
    ('Sao Paulo', 'BR', 19.649, (-23, -46))]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, longi) in metro_areas:
    if longi <= 0:
        print(fmt.format(name, lat, longi))

                |   lat.    |   long.
Mexico City     |   19.0000 |  -99.0000
New York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

예제18

In [32]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689, 139.691))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.691))

In [33]:
tokyo.population

36.933

In [34]:
tokyo.coordinates

(35.689, 139.691)

In [35]:
tokyo[1]

'JP'

예제19

In [36]:
City._fields

('name', 'country', 'population', 'coordinates')

In [37]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613, 77.208))

In [38]:
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613, long=77.208)}

In [39]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613, long=77.208)

예제20

In [40]:
l = [10, 20, 30, 40, 50, 60]
l[:2] # 2번 인덱스에서 분할

[10, 20]

In [41]:
l[2:]

[30, 40, 50, 60]

In [42]:
l[:3] # 3번 인덱스에서 분할

[10, 20, 30]

In [43]:
l[3:]

[40, 50, 60]

예제21

In [39]:
invoice = """
0.....6..................25........33........40
1909  Pimoroni             $17.50    3      $52.50
1489  6mm Tactile          $4.95     2      $9.90
"""

SKU = slice(0, 6)
DESCRIPTION = slice(6, 25)
UNIT_PRICE = slice(25, 33)
QUANTITY = slice(33, 40)
ITEM_TOTAL = slice(40, None)

line_items = invoice.split('\n')[2:]

for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

  $17.50 Pimoroni
  $4.95  6mm Tactile

예제22

In [45]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
l[2:5] = [20, 30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [47]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [48]:
l[3::2] = [11, 22]
l

[0, 1, 20, 11, 5, 22, 9]

예제23

In [48]:
l[2:5] = 100
l

TypeError: can only assign an iterable

예제24

In [50]:
l[2:5] = [100]
l

[0, 1, 100, 22, 9]

예제25

In [49]:
l = [1, 2, 3]
l * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
5 * 'abcd'

'abcdabcdabcdabcdabcd'

예제26

In [52]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [53]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

예제27

In [54]:
weird_board = [['_'] * 3] * 3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [55]:
weird_board[1][2] = 'O'
weird_board

[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

예제28

In [58]:
row = ['_'] * 3
board = []
for i in range(3):
    board.append(row)

board[1][2] = 'X'

board

[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

예제29

In [59]:
board = []
for i in range(3):
    row = ['_'] * 3
    board.append(row)

print(board)

board[2][0] = 'X'

board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

[['_', '_', '_'], ['_', '_', '_'], ['X', '_', '_']]

예제30

In [56]:
l = [1, 2, 3]
id(l)

2125398552640

In [57]:
l *= 2
l

[1, 2, 3, 1, 2, 3]

In [58]:
id(l)

2125398552640

예제31

In [59]:
t = (1, 2, 3)
id(t)

2125392877824

In [60]:
t *= 2
id(t)

2125398531072

예제32

In [69]:
t = (1, 2, [30, 40])
print(t)

t[2] += [50, 60]

"""
a. t는 (1,2,[30,40,50,60])이 된다.
b. '튜플 객체는 항목 할당을 지원하지 않는다'는
    메시지와 함께 TypeError가 발생한다.
c. a와 b 둘 다 틀리다.
d. a와 b 둘 다 맞다.
"""

(1, 2, [30, 40])

TypeError: 'tuple' object does not support item assignment

예제33

In [70]:
print(t)

(1, 2, [30, 40, 50, 60])

예제34

In [61]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [62]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [63]:
print(sorted(fruits, reverse=True))

['raspberry', 'grape', 'banana', 'apple']

In [64]:
print(sorted(fruits, key=len))

['grape', 'apple', 'banana', 'raspberry']

예제35

In [65]:
print(sorted(fruits, key=len, reverse=True))

['raspberry', 'banana', 'grape', 'apple']

In [66]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [67]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']

예제36

In [69]:
from array import array
from random import random

floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.21843768485425907

예제37

In [70]:
with open('floats.bin', 'wb') as f:
    floats.tofile(f)

In [71]:
floats2 = array('d')

with open('floats.bin', 'rb') as f:
    floats2.fromfile(f, 10**7)

floats2[-1]

0.21843768485425907

In [72]:
floats2 == floats

True

예제38

In [73]:
import array
numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

5

In [74]:
memv[0]

-2

In [75]:
memv_oct = memv.cast('B')
memv_oct.tolist()

[254, 255, 255, 255, 0, 0, 1, 0, 2, 0]

In [76]:
memv_oct[5] = 4
numbers

array('h', [-2, -1, 1024, 1, 2])

예제39

In [77]:
import numpy
a = numpy.arange(12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [78]:
type(a)

numpy.ndarray

예제40

In [80]:
a.shape

(3, 4)

In [79]:
a.shape = 3, 4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

예제41

In [82]:
a[2]

array([ 8,  9, 10, 11])

In [84]:
a[2, 1]

np.int64(9)

In [83]:
a[:, 1]

array([1, 5, 9])

예제42

In [21]:
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

예제43

In [85]:
from collections import deque
dq = deque(range(10), maxlen=10)
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)

In [86]:
dq.rotate(3)
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6], maxlen=10)

In [87]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], maxlen=10)

예제44

In [88]:
dq.appendleft(-1)
dq

deque([-1, 1, 2, 3, 4, 5, 6, 7, 8, 9], maxlen=10)

In [89]:
dq.extend([11, 22, 33])
dq

deque([3, 4, 5, 6, 7, 8, 9, 11, 22, 33], maxlen=10)

In [90]:
dq.extendleft([10, 20, 30, 40])
dq

deque([40, 30, 20, 10, 3, 4, 5, 6, 7, 8], maxlen=10)